<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.oms.mapper.OmsCartItemMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.oms.domain.OmsCartItem">
    <!--@mbg.generated-->
    <!--@Table oms_cart_item-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="product_sku_id" jdbcType="BIGINT" property="productSkuId" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="product_pic" jdbcType="VARCHAR" property="productPic" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_sub_title" jdbcType="VARCHAR" property="productSubTitle" />
    <result column="product_sku_code" jdbcType="VARCHAR" property="productSkuCode" />
    <result column="member_nickname" jdbcType="VARCHAR" property="memberNickname" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    <result column="product_category_id" jdbcType="BIGINT" property="productCategoryId" />
    <result column="product_brand" jdbcType="VARCHAR" property="productBrand" />
    <result column="product_sn" jdbcType="VARCHAR" property="productSn" />
    <result column="product_attr" jdbcType="VARCHAR" property="productAttr" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, product_id, product_sku_id, member_id, quantity, price, product_pic, product_name, 
    product_sub_title, product_sku_code, member_nickname, create_date, modify_date, delete_status, 
    product_category_id, product_brand, product_sn, product_attr
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update oms_cart_item
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="product_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.productId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="product_sku_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.productSkuId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="member_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.memberId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="quantity = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.quantity,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.price,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="product_pic = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.productPic,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="product_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.productName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="product_sub_title = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.productSubTitle,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="product_sku_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.productSkuCode,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="member_nickname = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.memberNickname,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="create_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createDate,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="modify_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.modifyDate,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="delete_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.deleteStatus,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="product_category_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.productCategoryId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="product_brand = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.productBrand,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="product_sn = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.productSn,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="product_attr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.productAttr,jdbcType=VARCHAR}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update oms_cart_item
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="product_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.productId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.productId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="product_sku_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.productSkuId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.productSkuId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="member_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.memberId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.memberId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="quantity = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.quantity != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.quantity,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.price != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.price,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="product_pic = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.productPic != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.productPic,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="product_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.productName != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.productName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="product_sub_title = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.productSubTitle != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.productSubTitle,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="product_sku_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.productSkuCode != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.productSkuCode,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="member_nickname = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.memberNickname != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.memberNickname,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createDate != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createDate,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="modify_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.modifyDate != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.modifyDate,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="delete_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.deleteStatus != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.deleteStatus,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="product_category_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.productCategoryId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.productCategoryId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="product_brand = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.productBrand != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.productBrand,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="product_sn = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.productSn != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.productSn,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="product_attr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.productAttr != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.productAttr,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into oms_cart_item
    (product_id, product_sku_id, member_id, quantity, price, product_pic, product_name, 
      product_sub_title, product_sku_code, member_nickname, create_date, modify_date, 
      delete_status, product_category_id, product_brand, product_sn, product_attr)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.productId,jdbcType=BIGINT}, #{item.productSkuId,jdbcType=BIGINT}, #{item.memberId,jdbcType=BIGINT}, 
        #{item.quantity,jdbcType=INTEGER}, #{item.price,jdbcType=DECIMAL}, #{item.productPic,jdbcType=VARCHAR}, 
        #{item.productName,jdbcType=VARCHAR}, #{item.productSubTitle,jdbcType=VARCHAR}, 
        #{item.productSkuCode,jdbcType=VARCHAR}, #{item.memberNickname,jdbcType=VARCHAR}, 
        #{item.createDate,jdbcType=TIMESTAMP}, #{item.modifyDate,jdbcType=TIMESTAMP}, #{item.deleteStatus,jdbcType=INTEGER}, 
        #{item.productCategoryId,jdbcType=BIGINT}, #{item.productBrand,jdbcType=VARCHAR}, 
        #{item.productSn,jdbcType=VARCHAR}, #{item.productAttr,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.ruoyi.oms.domain.OmsCartItem" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into oms_cart_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      product_id,
      product_sku_id,
      member_id,
      quantity,
      price,
      product_pic,
      product_name,
      product_sub_title,
      product_sku_code,
      member_nickname,
      create_date,
      modify_date,
      delete_status,
      product_category_id,
      product_brand,
      product_sn,
      product_attr,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      #{productId,jdbcType=BIGINT},
      #{productSkuId,jdbcType=BIGINT},
      #{memberId,jdbcType=BIGINT},
      #{quantity,jdbcType=INTEGER},
      #{price,jdbcType=DECIMAL},
      #{productPic,jdbcType=VARCHAR},
      #{productName,jdbcType=VARCHAR},
      #{productSubTitle,jdbcType=VARCHAR},
      #{productSkuCode,jdbcType=VARCHAR},
      #{memberNickname,jdbcType=VARCHAR},
      #{createDate,jdbcType=TIMESTAMP},
      #{modifyDate,jdbcType=TIMESTAMP},
      #{deleteStatus,jdbcType=INTEGER},
      #{productCategoryId,jdbcType=BIGINT},
      #{productBrand,jdbcType=VARCHAR},
      #{productSn,jdbcType=VARCHAR},
      #{productAttr,jdbcType=VARCHAR},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      product_id = #{productId,jdbcType=BIGINT},
      product_sku_id = #{productSkuId,jdbcType=BIGINT},
      member_id = #{memberId,jdbcType=BIGINT},
      quantity = #{quantity,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      product_pic = #{productPic,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      product_sub_title = #{productSubTitle,jdbcType=VARCHAR},
      product_sku_code = #{productSkuCode,jdbcType=VARCHAR},
      member_nickname = #{memberNickname,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      delete_status = #{deleteStatus,jdbcType=INTEGER},
      product_category_id = #{productCategoryId,jdbcType=BIGINT},
      product_brand = #{productBrand,jdbcType=VARCHAR},
      product_sn = #{productSn,jdbcType=VARCHAR},
      product_attr = #{productAttr,jdbcType=VARCHAR},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.ruoyi.oms.domain.OmsCartItem" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into oms_cart_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="productSkuId != null">
        product_sku_id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="productPic != null">
        product_pic,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productSubTitle != null">
        product_sub_title,
      </if>
      <if test="productSkuCode != null">
        product_sku_code,
      </if>
      <if test="memberNickname != null">
        member_nickname,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="deleteStatus != null">
        delete_status,
      </if>
      <if test="productCategoryId != null">
        product_category_id,
      </if>
      <if test="productBrand != null">
        product_brand,
      </if>
      <if test="productSn != null">
        product_sn,
      </if>
      <if test="productAttr != null">
        product_attr,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="productSkuId != null">
        #{productSkuId,jdbcType=BIGINT},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="productPic != null">
        #{productPic,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productSubTitle != null">
        #{productSubTitle,jdbcType=VARCHAR},
      </if>
      <if test="productSkuCode != null">
        #{productSkuCode,jdbcType=VARCHAR},
      </if>
      <if test="memberNickname != null">
        #{memberNickname,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="productCategoryId != null">
        #{productCategoryId,jdbcType=BIGINT},
      </if>
      <if test="productBrand != null">
        #{productBrand,jdbcType=VARCHAR},
      </if>
      <if test="productSn != null">
        #{productSn,jdbcType=VARCHAR},
      </if>
      <if test="productAttr != null">
        #{productAttr,jdbcType=VARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="productSkuId != null">
        product_sku_id = #{productSkuId,jdbcType=BIGINT},
      </if>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="productPic != null">
        product_pic = #{productPic,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productSubTitle != null">
        product_sub_title = #{productSubTitle,jdbcType=VARCHAR},
      </if>
      <if test="productSkuCode != null">
        product_sku_code = #{productSkuCode,jdbcType=VARCHAR},
      </if>
      <if test="memberNickname != null">
        member_nickname = #{memberNickname,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null">
        delete_status = #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="productCategoryId != null">
        product_category_id = #{productCategoryId,jdbcType=BIGINT},
      </if>
      <if test="productBrand != null">
        product_brand = #{productBrand,jdbcType=VARCHAR},
      </if>
      <if test="productSn != null">
        product_sn = #{productSn,jdbcType=VARCHAR},
      </if>
      <if test="productAttr != null">
        product_attr = #{productAttr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>