<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.pms.mapper.PmsAlbumPicMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.pms.domain.PmsAlbumPic">
    <!--@mbg.generated-->
    <!--@Table pms_album_pic-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="album_id" jdbcType="BIGINT" property="albumId" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, album_id, pic
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update pms_album_pic
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="album_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.albumId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="pic = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.pic,jdbcType=VARCHAR}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update pms_album_pic
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="album_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.albumId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.albumId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="pic = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.pic != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.pic,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pms_album_pic
    (album_id, pic)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.albumId,jdbcType=BIGINT}, #{item.pic,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.ruoyi.pms.domain.PmsAlbumPic" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pms_album_pic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      album_id,
      pic,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      #{albumId,jdbcType=BIGINT},
      #{pic,jdbcType=VARCHAR},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      album_id = #{albumId,jdbcType=BIGINT},
      pic = #{pic,jdbcType=VARCHAR},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.ruoyi.pms.domain.PmsAlbumPic" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pms_album_pic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="albumId != null">
        album_id,
      </if>
      <if test="pic != null">
        pic,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="albumId != null">
        #{albumId,jdbcType=BIGINT},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="albumId != null">
        album_id = #{albumId,jdbcType=BIGINT},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>