<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.pms.mapper.PmsProductMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.pms.domain.PmsProduct">
    <!--@mbg.generated-->
    <!--@Table pms_product-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="brand_id" jdbcType="BIGINT" property="brandId" />
    <result column="product_category_id" jdbcType="BIGINT" property="productCategoryId" />
    <result column="feight_template_id" jdbcType="BIGINT" property="feightTemplateId" />
    <result column="product_attribute_category_id" jdbcType="BIGINT" property="productAttributeCategoryId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="product_sn" jdbcType="VARCHAR" property="productSn" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    <result column="publish_status" jdbcType="INTEGER" property="publishStatus" />
    <result column="new_status" jdbcType="INTEGER" property="newStatus" />
    <result column="recommand_status" jdbcType="INTEGER" property="recommandStatus" />
    <result column="verify_status" jdbcType="INTEGER" property="verifyStatus" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="sale" jdbcType="INTEGER" property="sale" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="promotion_price" jdbcType="DECIMAL" property="promotionPrice" />
    <result column="gift_growth" jdbcType="INTEGER" property="giftGrowth" />
    <result column="gift_point" jdbcType="INTEGER" property="giftPoint" />
    <result column="use_point_limit" jdbcType="INTEGER" property="usePointLimit" />
    <result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="original_price" jdbcType="DECIMAL" property="originalPrice" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="low_stock" jdbcType="INTEGER" property="lowStock" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="preview_status" jdbcType="INTEGER" property="previewStatus" />
    <result column="service_ids" jdbcType="VARCHAR" property="serviceIds" />
    <result column="keywords" jdbcType="VARCHAR" property="keywords" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="album_pics" jdbcType="VARCHAR" property="albumPics" />
    <result column="detail_title" jdbcType="VARCHAR" property="detailTitle" />
    <result column="detail_desc" jdbcType="LONGVARCHAR" property="detailDesc" />
    <result column="detail_html" jdbcType="LONGVARCHAR" property="detailHtml" />
    <result column="detail_mobile_html" jdbcType="LONGVARCHAR" property="detailMobileHtml" />
    <result column="promotion_start_time" jdbcType="TIMESTAMP" property="promotionStartTime" />
    <result column="promotion_end_time" jdbcType="TIMESTAMP" property="promotionEndTime" />
    <result column="promotion_per_limit" jdbcType="INTEGER" property="promotionPerLimit" />
    <result column="promotion_type" jdbcType="INTEGER" property="promotionType" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="product_category_name" jdbcType="VARCHAR" property="productCategoryName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, brand_id, product_category_id, feight_template_id, product_attribute_category_id, 
    `name`, pic, product_sn, delete_status, publish_status, new_status, recommand_status, 
    verify_status, sort, sale, price, promotion_price, gift_growth, gift_point, use_point_limit, 
    sub_title, description, original_price, stock, low_stock, unit, weight, preview_status, 
    service_ids, keywords, note, album_pics, detail_title, detail_desc, detail_html, 
    detail_mobile_html, promotion_start_time, promotion_end_time, promotion_per_limit, 
    promotion_type, brand_name, product_category_name
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update pms_product
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="brand_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.brandId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="product_category_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.productCategoryId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="feight_template_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.feightTemplateId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="product_attribute_category_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.productAttributeCategoryId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="`name` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.name,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="pic = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.pic,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="product_sn = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.productSn,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="delete_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.deleteStatus,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="publish_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.publishStatus,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="new_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.newStatus,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="recommand_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.recommandStatus,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="verify_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.verifyStatus,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="sort = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.sort,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="sale = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.sale,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.price,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="promotion_price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.promotionPrice,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="gift_growth = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.giftGrowth,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="gift_point = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.giftPoint,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="use_point_limit = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.usePointLimit,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="sub_title = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.subTitle,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="description = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.description,jdbcType=LONGVARCHAR}
        </foreach>
      </trim>
      <trim prefix="original_price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.originalPrice,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="stock = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.stock,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="low_stock = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.lowStock,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="unit = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.unit,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="weight = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.weight,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="preview_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.previewStatus,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="service_ids = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.serviceIds,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="keywords = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.keywords,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="note = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.note,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="album_pics = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.albumPics,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="detail_title = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.detailTitle,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="detail_desc = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.detailDesc,jdbcType=LONGVARCHAR}
        </foreach>
      </trim>
      <trim prefix="detail_html = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.detailHtml,jdbcType=LONGVARCHAR}
        </foreach>
      </trim>
      <trim prefix="detail_mobile_html = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.detailMobileHtml,jdbcType=LONGVARCHAR}
        </foreach>
      </trim>
      <trim prefix="promotion_start_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.promotionStartTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="promotion_end_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.promotionEndTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="promotion_per_limit = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.promotionPerLimit,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="promotion_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.promotionType,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="brand_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.brandName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="product_category_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.productCategoryName,jdbcType=VARCHAR}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update pms_product
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="brand_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.brandId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.brandId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="product_category_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.productCategoryId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.productCategoryId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="feight_template_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.feightTemplateId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.feightTemplateId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="product_attribute_category_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.productAttributeCategoryId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.productAttributeCategoryId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="`name` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.name != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.name,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="pic = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.pic != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.pic,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="product_sn = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.productSn != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.productSn,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="delete_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.deleteStatus != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.deleteStatus,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="publish_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.publishStatus != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.publishStatus,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="new_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.newStatus != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.newStatus,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="recommand_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.recommandStatus != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.recommandStatus,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="verify_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.verifyStatus != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.verifyStatus,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="sort = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.sort != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.sort,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="sale = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.sale != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.sale,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.price != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.price,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="promotion_price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.promotionPrice != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.promotionPrice,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="gift_growth = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.giftGrowth != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.giftGrowth,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="gift_point = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.giftPoint != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.giftPoint,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="use_point_limit = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.usePointLimit != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.usePointLimit,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="sub_title = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.subTitle != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.subTitle,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="description = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.description != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.description,jdbcType=LONGVARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="original_price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.originalPrice != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.originalPrice,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="stock = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.stock != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.stock,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="low_stock = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.lowStock != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.lowStock,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="unit = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.unit != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.unit,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="weight = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.weight != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.weight,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="preview_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.previewStatus != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.previewStatus,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="service_ids = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.serviceIds != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.serviceIds,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="keywords = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.keywords != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.keywords,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="note = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.note != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.note,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="album_pics = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.albumPics != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.albumPics,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="detail_title = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.detailTitle != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.detailTitle,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="detail_desc = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.detailDesc != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.detailDesc,jdbcType=LONGVARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="detail_html = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.detailHtml != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.detailHtml,jdbcType=LONGVARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="detail_mobile_html = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.detailMobileHtml != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.detailMobileHtml,jdbcType=LONGVARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="promotion_start_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.promotionStartTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.promotionStartTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="promotion_end_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.promotionEndTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.promotionEndTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="promotion_per_limit = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.promotionPerLimit != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.promotionPerLimit,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="promotion_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.promotionType != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.promotionType,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="brand_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.brandName != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.brandName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="product_category_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.productCategoryName != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.productCategoryName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pms_product
    (brand_id, product_category_id, feight_template_id, product_attribute_category_id, 
      `name`, pic, product_sn, delete_status, publish_status, new_status, recommand_status, 
      verify_status, sort, sale, price, promotion_price, gift_growth, gift_point, use_point_limit, 
      sub_title, description, original_price, stock, low_stock, unit, weight, preview_status, 
      service_ids, keywords, note, album_pics, detail_title, detail_desc, detail_html, 
      detail_mobile_html, promotion_start_time, promotion_end_time, promotion_per_limit, 
      promotion_type, brand_name, product_category_name)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.brandId,jdbcType=BIGINT}, #{item.productCategoryId,jdbcType=BIGINT}, #{item.feightTemplateId,jdbcType=BIGINT}, 
        #{item.productAttributeCategoryId,jdbcType=BIGINT}, #{item.name,jdbcType=VARCHAR}, 
        #{item.pic,jdbcType=VARCHAR}, #{item.productSn,jdbcType=VARCHAR}, #{item.deleteStatus,jdbcType=INTEGER}, 
        #{item.publishStatus,jdbcType=INTEGER}, #{item.newStatus,jdbcType=INTEGER}, #{item.recommandStatus,jdbcType=INTEGER}, 
        #{item.verifyStatus,jdbcType=INTEGER}, #{item.sort,jdbcType=INTEGER}, #{item.sale,jdbcType=INTEGER}, 
        #{item.price,jdbcType=DECIMAL}, #{item.promotionPrice,jdbcType=DECIMAL}, #{item.giftGrowth,jdbcType=INTEGER}, 
        #{item.giftPoint,jdbcType=INTEGER}, #{item.usePointLimit,jdbcType=INTEGER}, #{item.subTitle,jdbcType=VARCHAR}, 
        #{item.description,jdbcType=LONGVARCHAR}, #{item.originalPrice,jdbcType=DECIMAL}, 
        #{item.stock,jdbcType=INTEGER}, #{item.lowStock,jdbcType=INTEGER}, #{item.unit,jdbcType=VARCHAR}, 
        #{item.weight,jdbcType=DECIMAL}, #{item.previewStatus,jdbcType=INTEGER}, #{item.serviceIds,jdbcType=VARCHAR}, 
        #{item.keywords,jdbcType=VARCHAR}, #{item.note,jdbcType=VARCHAR}, #{item.albumPics,jdbcType=VARCHAR}, 
        #{item.detailTitle,jdbcType=VARCHAR}, #{item.detailDesc,jdbcType=LONGVARCHAR}, 
        #{item.detailHtml,jdbcType=LONGVARCHAR}, #{item.detailMobileHtml,jdbcType=LONGVARCHAR}, 
        #{item.promotionStartTime,jdbcType=TIMESTAMP}, #{item.promotionEndTime,jdbcType=TIMESTAMP}, 
        #{item.promotionPerLimit,jdbcType=INTEGER}, #{item.promotionType,jdbcType=INTEGER}, 
        #{item.brandName,jdbcType=VARCHAR}, #{item.productCategoryName,jdbcType=VARCHAR}
        )
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.ruoyi.pms.domain.PmsProduct" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pms_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      brand_id,
      product_category_id,
      feight_template_id,
      product_attribute_category_id,
      `name`,
      pic,
      product_sn,
      delete_status,
      publish_status,
      new_status,
      recommand_status,
      verify_status,
      sort,
      sale,
      price,
      promotion_price,
      gift_growth,
      gift_point,
      use_point_limit,
      sub_title,
      description,
      original_price,
      stock,
      low_stock,
      unit,
      weight,
      preview_status,
      service_ids,
      keywords,
      note,
      album_pics,
      detail_title,
      detail_desc,
      detail_html,
      detail_mobile_html,
      promotion_start_time,
      promotion_end_time,
      promotion_per_limit,
      promotion_type,
      brand_name,
      product_category_name,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      #{brandId,jdbcType=BIGINT},
      #{productCategoryId,jdbcType=BIGINT},
      #{feightTemplateId,jdbcType=BIGINT},
      #{productAttributeCategoryId,jdbcType=BIGINT},
      #{name,jdbcType=VARCHAR},
      #{pic,jdbcType=VARCHAR},
      #{productSn,jdbcType=VARCHAR},
      #{deleteStatus,jdbcType=INTEGER},
      #{publishStatus,jdbcType=INTEGER},
      #{newStatus,jdbcType=INTEGER},
      #{recommandStatus,jdbcType=INTEGER},
      #{verifyStatus,jdbcType=INTEGER},
      #{sort,jdbcType=INTEGER},
      #{sale,jdbcType=INTEGER},
      #{price,jdbcType=DECIMAL},
      #{promotionPrice,jdbcType=DECIMAL},
      #{giftGrowth,jdbcType=INTEGER},
      #{giftPoint,jdbcType=INTEGER},
      #{usePointLimit,jdbcType=INTEGER},
      #{subTitle,jdbcType=VARCHAR},
      #{description,jdbcType=LONGVARCHAR},
      #{originalPrice,jdbcType=DECIMAL},
      #{stock,jdbcType=INTEGER},
      #{lowStock,jdbcType=INTEGER},
      #{unit,jdbcType=VARCHAR},
      #{weight,jdbcType=DECIMAL},
      #{previewStatus,jdbcType=INTEGER},
      #{serviceIds,jdbcType=VARCHAR},
      #{keywords,jdbcType=VARCHAR},
      #{note,jdbcType=VARCHAR},
      #{albumPics,jdbcType=VARCHAR},
      #{detailTitle,jdbcType=VARCHAR},
      #{detailDesc,jdbcType=LONGVARCHAR},
      #{detailHtml,jdbcType=LONGVARCHAR},
      #{detailMobileHtml,jdbcType=LONGVARCHAR},
      #{promotionStartTime,jdbcType=TIMESTAMP},
      #{promotionEndTime,jdbcType=TIMESTAMP},
      #{promotionPerLimit,jdbcType=INTEGER},
      #{promotionType,jdbcType=INTEGER},
      #{brandName,jdbcType=VARCHAR},
      #{productCategoryName,jdbcType=VARCHAR},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      brand_id = #{brandId,jdbcType=BIGINT},
      product_category_id = #{productCategoryId,jdbcType=BIGINT},
      feight_template_id = #{feightTemplateId,jdbcType=BIGINT},
      product_attribute_category_id = #{productAttributeCategoryId,jdbcType=BIGINT},
      `name` = #{name,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      product_sn = #{productSn,jdbcType=VARCHAR},
      delete_status = #{deleteStatus,jdbcType=INTEGER},
      publish_status = #{publishStatus,jdbcType=INTEGER},
      new_status = #{newStatus,jdbcType=INTEGER},
      recommand_status = #{recommandStatus,jdbcType=INTEGER},
      verify_status = #{verifyStatus,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      sale = #{sale,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      promotion_price = #{promotionPrice,jdbcType=DECIMAL},
      gift_growth = #{giftGrowth,jdbcType=INTEGER},
      gift_point = #{giftPoint,jdbcType=INTEGER},
      use_point_limit = #{usePointLimit,jdbcType=INTEGER},
      sub_title = #{subTitle,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR},
      original_price = #{originalPrice,jdbcType=DECIMAL},
      stock = #{stock,jdbcType=INTEGER},
      low_stock = #{lowStock,jdbcType=INTEGER},
      unit = #{unit,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=DECIMAL},
      preview_status = #{previewStatus,jdbcType=INTEGER},
      service_ids = #{serviceIds,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      album_pics = #{albumPics,jdbcType=VARCHAR},
      detail_title = #{detailTitle,jdbcType=VARCHAR},
      detail_desc = #{detailDesc,jdbcType=LONGVARCHAR},
      detail_html = #{detailHtml,jdbcType=LONGVARCHAR},
      detail_mobile_html = #{detailMobileHtml,jdbcType=LONGVARCHAR},
      promotion_start_time = #{promotionStartTime,jdbcType=TIMESTAMP},
      promotion_end_time = #{promotionEndTime,jdbcType=TIMESTAMP},
      promotion_per_limit = #{promotionPerLimit,jdbcType=INTEGER},
      promotion_type = #{promotionType,jdbcType=INTEGER},
      brand_name = #{brandName,jdbcType=VARCHAR},
      product_category_name = #{productCategoryName,jdbcType=VARCHAR},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.ruoyi.pms.domain.PmsProduct" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pms_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="productCategoryId != null">
        product_category_id,
      </if>
      <if test="feightTemplateId != null">
        feight_template_id,
      </if>
      <if test="productAttributeCategoryId != null">
        product_attribute_category_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="pic != null">
        pic,
      </if>
      <if test="productSn != null">
        product_sn,
      </if>
      <if test="deleteStatus != null">
        delete_status,
      </if>
      <if test="publishStatus != null">
        publish_status,
      </if>
      <if test="newStatus != null">
        new_status,
      </if>
      <if test="recommandStatus != null">
        recommand_status,
      </if>
      <if test="verifyStatus != null">
        verify_status,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="sale != null">
        sale,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="promotionPrice != null">
        promotion_price,
      </if>
      <if test="giftGrowth != null">
        gift_growth,
      </if>
      <if test="giftPoint != null">
        gift_point,
      </if>
      <if test="usePointLimit != null">
        use_point_limit,
      </if>
      <if test="subTitle != null">
        sub_title,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="originalPrice != null">
        original_price,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="lowStock != null">
        low_stock,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="previewStatus != null">
        preview_status,
      </if>
      <if test="serviceIds != null">
        service_ids,
      </if>
      <if test="keywords != null">
        keywords,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="albumPics != null">
        album_pics,
      </if>
      <if test="detailTitle != null">
        detail_title,
      </if>
      <if test="detailDesc != null">
        detail_desc,
      </if>
      <if test="detailHtml != null">
        detail_html,
      </if>
      <if test="detailMobileHtml != null">
        detail_mobile_html,
      </if>
      <if test="promotionStartTime != null">
        promotion_start_time,
      </if>
      <if test="promotionEndTime != null">
        promotion_end_time,
      </if>
      <if test="promotionPerLimit != null">
        promotion_per_limit,
      </if>
      <if test="promotionType != null">
        promotion_type,
      </if>
      <if test="brandName != null">
        brand_name,
      </if>
      <if test="productCategoryName != null">
        product_category_name,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=BIGINT},
      </if>
      <if test="productCategoryId != null">
        #{productCategoryId,jdbcType=BIGINT},
      </if>
      <if test="feightTemplateId != null">
        #{feightTemplateId,jdbcType=BIGINT},
      </if>
      <if test="productAttributeCategoryId != null">
        #{productAttributeCategoryId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="productSn != null">
        #{productSn,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="publishStatus != null">
        #{publishStatus,jdbcType=INTEGER},
      </if>
      <if test="newStatus != null">
        #{newStatus,jdbcType=INTEGER},
      </if>
      <if test="recommandStatus != null">
        #{recommandStatus,jdbcType=INTEGER},
      </if>
      <if test="verifyStatus != null">
        #{verifyStatus,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="sale != null">
        #{sale,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="promotionPrice != null">
        #{promotionPrice,jdbcType=DECIMAL},
      </if>
      <if test="giftGrowth != null">
        #{giftGrowth,jdbcType=INTEGER},
      </if>
      <if test="giftPoint != null">
        #{giftPoint,jdbcType=INTEGER},
      </if>
      <if test="usePointLimit != null">
        #{usePointLimit,jdbcType=INTEGER},
      </if>
      <if test="subTitle != null">
        #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="originalPrice != null">
        #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="lowStock != null">
        #{lowStock,jdbcType=INTEGER},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="previewStatus != null">
        #{previewStatus,jdbcType=INTEGER},
      </if>
      <if test="serviceIds != null">
        #{serviceIds,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null">
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="albumPics != null">
        #{albumPics,jdbcType=VARCHAR},
      </if>
      <if test="detailTitle != null">
        #{detailTitle,jdbcType=VARCHAR},
      </if>
      <if test="detailDesc != null">
        #{detailDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="detailHtml != null">
        #{detailHtml,jdbcType=LONGVARCHAR},
      </if>
      <if test="detailMobileHtml != null">
        #{detailMobileHtml,jdbcType=LONGVARCHAR},
      </if>
      <if test="promotionStartTime != null">
        #{promotionStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="promotionEndTime != null">
        #{promotionEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="promotionPerLimit != null">
        #{promotionPerLimit,jdbcType=INTEGER},
      </if>
      <if test="promotionType != null">
        #{promotionType,jdbcType=INTEGER},
      </if>
      <if test="brandName != null">
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="productCategoryName != null">
        #{productCategoryName,jdbcType=VARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=BIGINT},
      </if>
      <if test="productCategoryId != null">
        product_category_id = #{productCategoryId,jdbcType=BIGINT},
      </if>
      <if test="feightTemplateId != null">
        feight_template_id = #{feightTemplateId,jdbcType=BIGINT},
      </if>
      <if test="productAttributeCategoryId != null">
        product_attribute_category_id = #{productAttributeCategoryId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="productSn != null">
        product_sn = #{productSn,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null">
        delete_status = #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="publishStatus != null">
        publish_status = #{publishStatus,jdbcType=INTEGER},
      </if>
      <if test="newStatus != null">
        new_status = #{newStatus,jdbcType=INTEGER},
      </if>
      <if test="recommandStatus != null">
        recommand_status = #{recommandStatus,jdbcType=INTEGER},
      </if>
      <if test="verifyStatus != null">
        verify_status = #{verifyStatus,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="sale != null">
        sale = #{sale,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="promotionPrice != null">
        promotion_price = #{promotionPrice,jdbcType=DECIMAL},
      </if>
      <if test="giftGrowth != null">
        gift_growth = #{giftGrowth,jdbcType=INTEGER},
      </if>
      <if test="giftPoint != null">
        gift_point = #{giftPoint,jdbcType=INTEGER},
      </if>
      <if test="usePointLimit != null">
        use_point_limit = #{usePointLimit,jdbcType=INTEGER},
      </if>
      <if test="subTitle != null">
        sub_title = #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="originalPrice != null">
        original_price = #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="lowStock != null">
        low_stock = #{lowStock,jdbcType=INTEGER},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="previewStatus != null">
        preview_status = #{previewStatus,jdbcType=INTEGER},
      </if>
      <if test="serviceIds != null">
        service_ids = #{serviceIds,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null">
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="albumPics != null">
        album_pics = #{albumPics,jdbcType=VARCHAR},
      </if>
      <if test="detailTitle != null">
        detail_title = #{detailTitle,jdbcType=VARCHAR},
      </if>
      <if test="detailDesc != null">
        detail_desc = #{detailDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="detailHtml != null">
        detail_html = #{detailHtml,jdbcType=LONGVARCHAR},
      </if>
      <if test="detailMobileHtml != null">
        detail_mobile_html = #{detailMobileHtml,jdbcType=LONGVARCHAR},
      </if>
      <if test="promotionStartTime != null">
        promotion_start_time = #{promotionStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="promotionEndTime != null">
        promotion_end_time = #{promotionEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="promotionPerLimit != null">
        promotion_per_limit = #{promotionPerLimit,jdbcType=INTEGER},
      </if>
      <if test="promotionType != null">
        promotion_type = #{promotionType,jdbcType=INTEGER},
      </if>
      <if test="brandName != null">
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="productCategoryName != null">
        product_category_name = #{productCategoryName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>