<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.pms.mapper.PmsProductFullReductionMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.pms.domain.PmsProductFullReduction">
    <!--@mbg.generated-->
    <!--@Table pms_product_full_reduction-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="full_price" jdbcType="DECIMAL" property="fullPrice" />
    <result column="reduce_price" jdbcType="DECIMAL" property="reducePrice" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, product_id, full_price, reduce_price
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update pms_product_full_reduction
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="product_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.productId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="full_price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.fullPrice,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="reduce_price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.reducePrice,jdbcType=DECIMAL}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update pms_product_full_reduction
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="product_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.productId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.productId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="full_price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fullPrice != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.fullPrice,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="reduce_price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.reducePrice != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.reducePrice,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pms_product_full_reduction
    (product_id, full_price, reduce_price)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.productId,jdbcType=BIGINT}, #{item.fullPrice,jdbcType=DECIMAL}, #{item.reducePrice,jdbcType=DECIMAL}
        )
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.ruoyi.pms.domain.PmsProductFullReduction" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pms_product_full_reduction
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      product_id,
      full_price,
      reduce_price,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      #{productId,jdbcType=BIGINT},
      #{fullPrice,jdbcType=DECIMAL},
      #{reducePrice,jdbcType=DECIMAL},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      product_id = #{productId,jdbcType=BIGINT},
      full_price = #{fullPrice,jdbcType=DECIMAL},
      reduce_price = #{reducePrice,jdbcType=DECIMAL},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.ruoyi.pms.domain.PmsProductFullReduction" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pms_product_full_reduction
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="fullPrice != null">
        full_price,
      </if>
      <if test="reducePrice != null">
        reduce_price,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="fullPrice != null">
        #{fullPrice,jdbcType=DECIMAL},
      </if>
      <if test="reducePrice != null">
        #{reducePrice,jdbcType=DECIMAL},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="fullPrice != null">
        full_price = #{fullPrice,jdbcType=DECIMAL},
      </if>
      <if test="reducePrice != null">
        reduce_price = #{reducePrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>