<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.vhr.mapper.VhrAppraiseMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.vhr.domain.VhrAppraise">
    <!--@mbg.generated-->
    <!--@Table vhr_appraise-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="eid" jdbcType="INTEGER" property="eid" />
    <result column="appDate" jdbcType="DATE" property="appdate" />
    <result column="appResult" jdbcType="VARCHAR" property="appresult" />
    <result column="appContent" jdbcType="VARCHAR" property="appcontent" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, eid, appDate, appResult, appContent, remark
  </sql>
</mapper>