<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.vhr.mapper.VhrSalaryMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.vhr.domain.VhrSalary">
    <!--@mbg.generated-->
    <!--@Table vhr_salary-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="basicSalary" jdbcType="INTEGER" property="basicsalary" />
    <result column="bonus" jdbcType="INTEGER" property="bonus" />
    <result column="lunchSalary" jdbcType="INTEGER" property="lunchsalary" />
    <result column="trafficSalary" jdbcType="INTEGER" property="trafficsalary" />
    <result column="allSalary" jdbcType="INTEGER" property="allsalary" />
    <result column="pensionBase" jdbcType="INTEGER" property="pensionbase" />
    <result column="pensionPer" jdbcType="FLOAT" property="pensionper" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="medicalBase" jdbcType="INTEGER" property="medicalbase" />
    <result column="medicalPer" jdbcType="FLOAT" property="medicalper" />
    <result column="accumulationFundBase" jdbcType="INTEGER" property="accumulationfundbase" />
    <result column="accumulationFundPer" jdbcType="FLOAT" property="accumulationfundper" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, basicSalary, bonus, lunchSalary, trafficSalary, allSalary, pensionBase, pensionPer, 
    createDate, medicalBase, medicalPer, accumulationFundBase, accumulationFundPer, `name`
  </sql>
</mapper>