<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.vhr.mapper.VhrSysmsgMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.vhr.domain.VhrSysmsg">
    <!--@mbg.generated-->
    <!--@Table vhr_sysmsg-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mid" jdbcType="INTEGER" property="mid" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="hrid" jdbcType="INTEGER" property="hrid" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, mid, `type`, hrid, `state`
  </sql>
</mapper>