<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.tb.mapper.TbPanelContentMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.tb.domain.TbPanelContent">
    <!--@mbg.generated-->
    <!--@Table tb_panel_content-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="panel_id" jdbcType="INTEGER" property="panelId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
    <result column="full_url" jdbcType="VARCHAR" property="fullUrl" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="pic_url2" jdbcType="VARCHAR" property="picUrl2" />
    <result column="pic_url3" jdbcType="VARCHAR" property="picUrl3" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, panel_id, `type`, product_id, sort_order, full_url, pic_url, pic_url2, pic_url3, 
    created, updated
  </sql>
</mapper>