<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.cms.mapper.CmsPrefrenceAreaProductRelationMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.cms.domain.CmsPrefrenceAreaProductRelation">
    <!--@mbg.generated-->
    <!--@Table cms_prefrence_area_product_relation-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="prefrence_area_id" jdbcType="BIGINT" property="prefrenceAreaId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, prefrence_area_id, product_id
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update cms_prefrence_area_product_relation
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="prefrence_area_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.prefrenceAreaId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="product_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.productId,jdbcType=BIGINT}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update cms_prefrence_area_product_relation
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="prefrence_area_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.prefrenceAreaId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.prefrenceAreaId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="product_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.productId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.productId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into cms_prefrence_area_product_relation
    (prefrence_area_id, product_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.prefrenceAreaId,jdbcType=BIGINT}, #{item.productId,jdbcType=BIGINT})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.ruoyi.cms.domain.CmsPrefrenceAreaProductRelation" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into cms_prefrence_area_product_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      prefrence_area_id,
      product_id,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      #{prefrenceAreaId,jdbcType=BIGINT},
      #{productId,jdbcType=BIGINT},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      prefrence_area_id = #{prefrenceAreaId,jdbcType=BIGINT},
      product_id = #{productId,jdbcType=BIGINT},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.ruoyi.cms.domain.CmsPrefrenceAreaProductRelation" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into cms_prefrence_area_product_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="prefrenceAreaId != null">
        prefrence_area_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="prefrenceAreaId != null">
        #{prefrenceAreaId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="prefrenceAreaId != null">
        prefrence_area_id = #{prefrenceAreaId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>