<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.cms.mapper.CmsTopicMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.cms.domain.CmsTopic">
    <!--@mbg.generated-->
    <!--@Table cms_topic-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="attend_count" jdbcType="INTEGER" property="attendCount" />
    <result column="attention_count" jdbcType="INTEGER" property="attentionCount" />
    <result column="read_count" jdbcType="INTEGER" property="readCount" />
    <result column="award_name" jdbcType="VARCHAR" property="awardName" />
    <result column="attend_type" jdbcType="VARCHAR" property="attendType" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, category_id, `name`, create_time, start_time, end_time, attend_count, attention_count, 
    read_count, award_name, attend_type, content
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update cms_topic
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="category_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.categoryId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="`name` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.name,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="start_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.startTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="end_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.endTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="attend_count = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.attendCount,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="attention_count = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.attentionCount,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="read_count = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.readCount,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="award_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.awardName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="attend_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.attendType,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="content = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.content,jdbcType=LONGVARCHAR}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update cms_topic
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="category_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.categoryId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.categoryId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="`name` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.name != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.name,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="start_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.startTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.startTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="end_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.endTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.endTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="attend_count = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.attendCount != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.attendCount,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="attention_count = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.attentionCount != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.attentionCount,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="read_count = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.readCount != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.readCount,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="award_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.awardName != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.awardName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="attend_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.attendType != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.attendType,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="content = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.content != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.content,jdbcType=LONGVARCHAR}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into cms_topic
    (category_id, `name`, create_time, start_time, end_time, attend_count, attention_count, 
      read_count, award_name, attend_type, content)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.categoryId,jdbcType=BIGINT}, #{item.name,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, 
        #{item.startTime,jdbcType=TIMESTAMP}, #{item.endTime,jdbcType=TIMESTAMP}, #{item.attendCount,jdbcType=INTEGER}, 
        #{item.attentionCount,jdbcType=INTEGER}, #{item.readCount,jdbcType=INTEGER}, #{item.awardName,jdbcType=VARCHAR}, 
        #{item.attendType,jdbcType=VARCHAR}, #{item.content,jdbcType=LONGVARCHAR})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.ruoyi.cms.domain.CmsTopic" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into cms_topic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      category_id,
      `name`,
      create_time,
      start_time,
      end_time,
      attend_count,
      attention_count,
      read_count,
      award_name,
      attend_type,
      content,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      #{categoryId,jdbcType=BIGINT},
      #{name,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP},
      #{startTime,jdbcType=TIMESTAMP},
      #{endTime,jdbcType=TIMESTAMP},
      #{attendCount,jdbcType=INTEGER},
      #{attentionCount,jdbcType=INTEGER},
      #{readCount,jdbcType=INTEGER},
      #{awardName,jdbcType=VARCHAR},
      #{attendType,jdbcType=VARCHAR},
      #{content,jdbcType=LONGVARCHAR},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      category_id = #{categoryId,jdbcType=BIGINT},
      `name` = #{name,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      attend_count = #{attendCount,jdbcType=INTEGER},
      attention_count = #{attentionCount,jdbcType=INTEGER},
      read_count = #{readCount,jdbcType=INTEGER},
      award_name = #{awardName,jdbcType=VARCHAR},
      attend_type = #{attendType,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.ruoyi.cms.domain.CmsTopic" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into cms_topic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="attendCount != null">
        attend_count,
      </if>
      <if test="attentionCount != null">
        attention_count,
      </if>
      <if test="readCount != null">
        read_count,
      </if>
      <if test="awardName != null">
        award_name,
      </if>
      <if test="attendType != null">
        attend_type,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attendCount != null">
        #{attendCount,jdbcType=INTEGER},
      </if>
      <if test="attentionCount != null">
        #{attentionCount,jdbcType=INTEGER},
      </if>
      <if test="readCount != null">
        #{readCount,jdbcType=INTEGER},
      </if>
      <if test="awardName != null">
        #{awardName,jdbcType=VARCHAR},
      </if>
      <if test="attendType != null">
        #{attendType,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attendCount != null">
        attend_count = #{attendCount,jdbcType=INTEGER},
      </if>
      <if test="attentionCount != null">
        attention_count = #{attentionCount,jdbcType=INTEGER},
      </if>
      <if test="readCount != null">
        read_count = #{readCount,jdbcType=INTEGER},
      </if>
      <if test="awardName != null">
        award_name = #{awardName,jdbcType=VARCHAR},
      </if>
      <if test="attendType != null">
        attend_type = #{attendType,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>