<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.nvc.mapper.NvcBookContentMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.nvc.domain.NvcBookContent">
    <!--@mbg.generated-->
    <!--@Table nvc_book_content-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="index_id" jdbcType="BIGINT" property="indexId" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, index_id, content
  </sql>
</mapper>