<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sms.mapper.SmsFlashPromotionLogMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.sms.domain.SmsFlashPromotionLog">
    <!--@mbg.generated-->
    <!--@Table sms_flash_promotion_log-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="member_phone" jdbcType="VARCHAR" property="memberPhone" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="subscribe_time" jdbcType="TIMESTAMP" property="subscribeTime" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, member_id, product_id, member_phone, product_name, subscribe_time, send_time
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update sms_flash_promotion_log
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="member_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.memberId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="product_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.productId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="member_phone = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.memberPhone,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="product_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.productName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="subscribe_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.subscribeTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="send_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.sendTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update sms_flash_promotion_log
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="member_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.memberId != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.memberId,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="product_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.productId != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.productId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="member_phone = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.memberPhone != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.memberPhone,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="product_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.productName != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.productName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="subscribe_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.subscribeTime != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.subscribeTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="send_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.sendTime != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.sendTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sms_flash_promotion_log
    (member_id, product_id, member_phone, product_name, subscribe_time, send_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.memberId,jdbcType=INTEGER}, #{item.productId,jdbcType=BIGINT}, #{item.memberPhone,jdbcType=VARCHAR}, 
        #{item.productName,jdbcType=VARCHAR}, #{item.subscribeTime,jdbcType=TIMESTAMP}, 
        #{item.sendTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.ruoyi.sms.domain.SmsFlashPromotionLog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sms_flash_promotion_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      member_id,
      product_id,
      member_phone,
      product_name,
      subscribe_time,
      send_time,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      #{memberId,jdbcType=INTEGER},
      #{productId,jdbcType=BIGINT},
      #{memberPhone,jdbcType=VARCHAR},
      #{productName,jdbcType=VARCHAR},
      #{subscribeTime,jdbcType=TIMESTAMP},
      #{sendTime,jdbcType=TIMESTAMP},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      member_id = #{memberId,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=BIGINT},
      member_phone = #{memberPhone,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      subscribe_time = #{subscribeTime,jdbcType=TIMESTAMP},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.ruoyi.sms.domain.SmsFlashPromotionLog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sms_flash_promotion_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="memberPhone != null">
        member_phone,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="subscribeTime != null">
        subscribe_time,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="memberPhone != null">
        #{memberPhone,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="subscribeTime != null">
        #{subscribeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="memberPhone != null">
        member_phone = #{memberPhone,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="subscribeTime != null">
        subscribe_time = #{subscribeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>